* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: poppins;
    background-color: #FFF5EC;
}


@media screen and (max-width: 553px) {
    .left-end {
      display: none;
    }

    .to-left {
        max-width: 10%;
    }

    .second-end-arrow {
        display: none;
    }

    .right-arrow {
        max-width: 30%;
    }
}

.wrapper {
    padding-bottom: 40px;
    background: linear-gradient(to right, #FFF5EC 75%, #FE043C 25%);   
}

.page-header,
.hero,
.top-restaurant-section {
    margin: 0px 19px 0px 19px;
}

.page-header__logo {
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;

    color: #FE043C;
}

.page-header__user-icon,
.page-header__user-text {
    display: none;
}

.page-header__menu {
    display: none;
}

.page-header__menu-item-link {
    text-decoration: none;
    color: #2E266F;
}

.page-header__wrapper {
    display: flex;
}

.page-header__menu-image {
    margin-left: auto;
    margin-top: 20px;

    cursor: pointer;
}

.page-header__menu-image-tablet {
    display: none;
}

.hero__title {
    margin: 0;

    font-weight: 900;
    font-size: 100px;
    line-height: 100%;
    text-transform: capitalize;

    color: #2E266F;
    opacity: 0.05;
}

.hero__sub-title {
    margin-top: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;

    color: #2E266F;
}

.hero__search-restaurant-input {
    width: 100%;
    height: 100%;
    padding-left: 50px;

    font-size: 18px;
    line-height: 5;

    border: none; 
    color: #2E266F;
}


.hero__search-button {
    position: absolute;
    top: 50%;
    right: 1.5%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 72px;

    transform: translateY(-50%);

    font-weight: 600;
    font-size: 30px;
    line-height: 3;

    color:  #FFFFFF;
    background: #FE043C;
    border-radius: 60px 0px 0px 0px;
    border: none;
}

.hero__input-wrapper {
    position: relative;

    margin-bottom: 50px;
    width: 100%;
    height: 90px;
}


.hero__location-icon {
    position: absolute;
    top: 25%;
    left: 15%;
}

.hero__location-text {
    position: absolute;
    top: -14%;

    height: 35px;
}

.hero__location-input-wrapper {
    position: relative;
    left: -7%;

    height: 70px;
    width: 70%;
    margin-bottom: 20px;
    padding-left: 90px;

    font-weight: 500;
    font-size: 30px;
    line-height: 3;

    color: #FFFFFF;
    background: #FE043C;
    border-radius: 0px 100px 100px 0px;
}

.hero__background-wrapper {
    position: relative;

    width: 100%;
    height: 450px;
}


.hero__food-img {
    position: relative;

    width: 56vw;
    height: 81vw;
}

.hero__dotted-background {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: left top;
}

.hero__plate {
    position: absolute;

    top: 0%;
    left: 0%;

    width: 162%;
}

.hero__salad {
    position: absolute;

    width: 102%;

    left: 65%;
    bottom: 22%;
}


.hero__left-carousel {
    position: absolute;
    right: 14%;

    cursor: pointer;
}

.hero__right-carousel {
    position: absolute;
    right: 2%;

    cursor: pointer;
}

.hero__dotted-background-wrapper {
    position: relative;

    margin-left: 19px;
    width: 100%;
    height: 502px;
}


.top-restaurant-section__headline, .title {
    margin: 60px 0px 30px 0px;
    padding-left: 21px;

    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;

    color: #2E266F;
    border-left: 12px solid #FE043C;
}

.top-restaurant-section__paragraph {
    margin: 0px 19px 30px 33px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;

    color: #707070;
}

.top-restaurant-section__restaurant-list {
    padding-left: 0;
    margin: 50px 0px 0px 0px;
    
    list-style-type: none;
}


.top-restaurant-section__restaurant-img {
    position: relative;
    top: 20%;
    z-index: 1;

    display: block;
    width: 100%;
}

.top-restaurant-section__label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background: rgba(254, 4, 60, 0.7);
    border-radius: 0px 0px 20px 20px;
}


.top-restaurant-section__dotes-img {
    position: absolute;

    top: -3%;
}

.top-restaurant-section__list-item {
    position: relative;

    width: 100%;
    display: block;
}

.top-restaurant-section__list-item:first-child {
    margin-bottom: 30px;
}

.top-restaurant-section__sub-headline {
    margin: 20px 0px 25px 30px;

    font-size: 24px;
    line-height: 1;
    font-weight: 700;

    color: white;
}

.top-restaurant-section__label-paragraph {
    margin: 0px 175px 0px 30px;

    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;

    color: white;
}

.top-restaurant-section__label-sub-paragraph {
    margin: 0px 0px 19px 30px;

    font-size: 14px;
    line-height: 1.7;

    color: white;
}

.top-restaurant-section__button {
    display: block;
    margin-left: auto;
    width: 159.78px;
    height: 44.75px;

    font-size: 16px;
    line-height: 1.5;

    background-color: #FFFFFF;
    border-radius: 100px 0px 0px 100px;
    color: #FE043C;
    border: none;

    cursor: pointer;
}

.top-restaurant-section__dotes-under-burger {
    position: absolute;
    right: -1%;
    bottom: 10%;
}

.top-restaurant-section__horizontal-dotes {
    position: absolute;
    right: -1%;
    bottom: -2%;
}

.top-restaurant-section__see-more-image {
    display: block;
    margin: 51px auto 0px auto;
}

.top-restaurant-section {
    padding-bottom: 33px;
}

.booking-form {
    position: relative;

    padding-top: 84px;
    padding-bottom: 85px;

    background-color: #FFEDDE;
}

.booking-form__title {
    display: flex;
    justify-content: center;
    margin-left: 155px;

    font-size: 24px;
    line-height: 1;
    font-weight: 500;

    color: #2E266F;
}

.booking-form__border {
    display: flex;
    justify-content: center;
    margin-left: 175px;
    padding-top: 19px;
}

.booking-form__search-restaurant-input {
    margin: 0px 20px 0px 155px;
    padding-left: 11px;
    width: 100%;
    height: 100%;

    border: none;
    box-shadow: 2px 2px 30px 2px #FFF5EC;
}

.booking-form__input-wrapper {
    position: relative;

    margin-bottom: 70px;
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
}

.booking-form__button {
    position: absolute;
    top: 10%;
    right: 5%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;

    font-weight: 600;
    font-size: 24px;
    line-height: 3.75;

    color:  #FFFFFF;
    background: #FE043C;
    border: none;

    cursor: pointer;
}

.booking-form__input-date-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 140px;
}

.booking-form__date-input {
    width: 95px;

    font-size: 16px;
    line-height: 1.8;

    color: #2E266F;
    opacity: 0.6;
    border: none;
}

.booking-form-wrapper {
    margin-right: 96px;
    height: 333px;

    background-color: #fff;
}

.booking-form__guests-input {
    width: 70px;

    font-size: 16px;
    line-height: 1.8;

    color: #2E266F;
    opacity: 0.6;
    border: none;
}

.booking-form__time-input {
    width: 65px;

    font-size: 16px;
    line-height: 1.8;

    color: #2E266F;
    opacity: 0.6;
    border: none;
}

.booking-form__date {
    z-index: 1;

    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.booking-form__label {
    position: relative;

    font-size: 16px;
    line-height: 1.8;

    color: #2E266F;
}

.booking-form__label::after {
    position: absolute;
    bottom: 0;

    display: inline-block;
    margin-left: 4px;
    width: 10px;
    height: 7px;

    content: ' ';

    background-image: url(../images/red-triangle.jpg);
}

.booking-form__lettuce {
    position: absolute;
    bottom: -12%;
    z-index: 1;

    display: block;
}

.booking-form__leaf {
    position: absolute;
    right: 0;

    display: block;
}

.booking-form__leaf-for-tablet {
    display: none;
}

.booking-form__lettuce-for-tablet {
    display: none;
}

.booking-form__dotes {
    position: absolute;
    right: 4%;
    top: 4%;
}

.booking-form__vertical-dotes {
    position: absolute;
    right: 4%;
}

.booking-form__horizontal-dotes {
    position: absolute;
    bottom: 2%;
}

.booking-form__border-wrapper {
    display: flex;
    justify-content: center;
}

.booking-form__lettuce-for-desktop {
    display: none;
}

.services__title {
    position: relative;

    margin: 94px 0px 26px 52px;
    padding-left: 0;

    border: none;
}

.services__title::before {
    position: absolute;
    top: -50%;
    left: -35px;

    display: inline-block;

    content: '';
    background-image: url(/images/marker.png);
    width: 12px;
    height: 100px;
}

.services__paragraph {
    margin: 0px 20px 28px 52px;

    font-size: 14px;
    line-height: 1.7;

    color: #707070;
}

.services__list {
    position: relative;
    z-index: 1;

    margin: 0px 21px 30px 20px;
    padding-left: 0;

    list-style-type: none;
}

.services__list-item-title {
    position: relative;

    display: flex;
    justify-content: center;
    margin: 0px 0px 20px 40px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;

    color: #2E266F;
}

.services__arrow {
    position: absolute;
    top: 40%;
    right: -15%;
}

.to-left {
    top: 60%;
    left: -20%;

    min-width: 30%;
}


.services__title-wrapper {
    position: relative;
}

.services__arrow-end {
    position: absolute;
    bottom: 15%;
    right: 0;

    /* min-width: 30%;
    display: block; */
}

.services__list-item-wrapper {
    position: relative;

    width: 47%;
    margin-top: auto;
    margin: auto;
}

.services__list-item-paragraph {
    margin: 0px 0px 0px 40px;


    font-size: 14px;
    line-height: 1.7;

    color: #707070;
}

.services__list-item {
    display: flex;
}

.services__list-icon {
    display: block;
    width: 100%;
}

.services__img-wrapper {
    /* position: relative; */

    display: block;
    width: 50%;
    height: 50%;
}

.second-title,
.second-paragraph {
    margin-left: 0px;
}

.second-title {
    margin-right: 80px;
    text-align: end;
}

.second-paragraph {
    margin-right: 42px;
}


.second-end-arrow {
    left: 0;
    top: 75%;
}

.right-arrow {
    right: -20%;
    top: 60%;
}

.services__list-item:first-child {
    margin-bottom: 30px;
}


.services__moto-icon {
    display: block;
    margin: 0px auto 0px auto;
    width: 85%;
}

.services__paragraph-for-tablet {
    display: none;
}


.services__list-background {
    display: none;
}

.food-catalog__title {
    display: flex;
    margin: 49px 0 30px 0;
    justify-content: center;

    font-weight: 500;
    font-size: 36px;
    line-height: 1.7;

    color: #2E266F;
}

.food-catalog__paragraph {
    margin: 0 20px 30px 20px;

    font-size: 14px;
    line-height: 1.7;

    color: #707070;
}

.food-catalog__list {
   margin: 0px 20px 0px 20px;
    padding-left: 0;

    list-style-type: none;
}

.food-catalog__list-item-icon {
    display: block;
    width: 100%;
}

.food-catalog__list-item {
    margin-bottom: 30px;
}

.food-catalog__text-wrapper {
    padding-bottom: 30px;
    width: 100%;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(235, 241, 245, 0.5);
    border-radius: 0 0 25px 25px;
}

.food-catalog__list-title {
    padding-left: 22px;
    margin: 30px 0 20px 0;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;

    color: #2E266F;
}

.food-catalog__list-paragraph {
    margin: 0;
    padding-left: 22px;
    width: 289px;

    font-size: 14px;
    line-height: 1.7;

    color: #707070;
}

.food-catalog__price-wrapper {
    display: flex;
    justify-content: space-between;
}

.food-catalog__price {
    margin: auto 21px auto 0;

    font-weight: bold;
    font-size: 24px;
    line-height: 1.3;

    color: #FE043C;
}

.food-catalog {
    padding-bottom: 59px;
}

.app {
    padding-top: 64px;

    background-color: #FFEDDE;
}

.app__title {
    margin: 0 152px 30px 20px;
    line-height: 48px;
}

.app__paragraph {
    margin: 0 55px 30px 50px;

    font-size: 14px;
    line-height: 1.7;

    color: #707070;
}

.app-store {
    margin-right: 15px;
}

.app__button {
    position: relative;

    padding-left: 60px;
    text-align: start;

    width: 178px;
    min-height: 49px;

    font-size: 12px;

    background-color: #000000;
    color: white;
    border-radius: 10px;
    border: none;

    cursor: pointer;
}

.google-play-btn {
    margin: 0 20px 0 50px;
}

.app__buttons {
    display: flex;
    flex-wrap: nowrap;
}

.app__button-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
}

.app__icon {
    position: absolute;
    top: 15%;
    left: 15px;
}


.app__background {
    position: absolute;
    left: -40%;
}

.app__mobile-img {
    display: block;
    width: 100%;
}

.app__tablet-img {
    display: none;
}

.footer-section {
    position: relative;
}

.footer-section__title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 60px 0 33px 0;

    font-weight: normal;
    font-size: 24px;
    line-height: 1.3;

    color: #2E266F;
}

.footer-section__link {
    z-index: 1;

    color: #707070;
    text-decoration: none;

    cursor: pointer;
}

.footer-section__paragraph {
    display: flex;
    text-align: center;
    margin: 33px 64px 30px 70px;

    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;

    color: #707070;
}

.footer-section__input {
    width: 100%;
    height: 100%;
    padding-left: 50px;

    font-size: 16px;
    line-height: 1.5;

    color: #2E266F;
    opacity: 0.6;
    background-color: #fff;
    box-shadow: 2px 2px 30px 2px #FFF5EC;
    border-radius: 100px;
    border: none;
}

.footer-section__input-wrapper {
    position: relative;

    width: 66%;
    height: 60px;
    margin-left: 90px;
    margin-bottom: 30px;
}

.footer-section__button-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-section__button {
    position: absolute;
    top: 15%;
    right: 2%;
    width: 40px;
    height: 40px;

    background-color: #FE043C;
    border-radius: 100px;
    border: none;

    cursor: pointer;
}

.footer-section__tablet-image {
    display: none;
}

.footer-section__list {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 61px 0 64px;
    padding-left: 0;

    color: #707070;

    list-style-type: none;
}

.footer-section__item {
    margin-right: 20px;
}

.footer-section__item:last-child {
    margin-right: 0;
}

.footer-section__socials {
    display: flex;
    padding-left: 0;
    margin-left: 110px;

    list-style-type: none;
}

.footer-section__social-item {
    margin-right: 16px;
}

.footer-section__social-item:last-child {
    margin-right: 42px;
}

.footer-section__footer-wrapper {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
}

.footer-section__copyright-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-section__copyright-text {
    margin: 16px 111px 0 10px;
}

.footer-section__image {
    position: absolute;
    top: -17%;
}

.footer-section__background {
    position: absolute;

    width: 100%;
    height: auto;
}

.footer-section__desktop-image {
    display: none;
}

@media screen and (max-width: 445px) {
    .app__buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .google-play-btn {
        margin-bottom: 20px;
    }

    .app-store {
        margin-left: 50px;
    }

    .hero__search-restaurant-input::placeholder {
        opacity: 0;
    }

    /* .top-restaurant-section__list-item {
        height: 100%;
    }

    .top-restaurant-section__restaurant-img {
        width: 100%;
    }

    .top-restaurant-section__list-item {
        height: 493px;
    }

    .top-restaurant-section__label {
        bottom: 7%;
    } */
}

@media screen and (min-width: 1195px) {
    .page-header__logo {
        margin: 20px 0px 0px 30px;

        font-size: 60px;
        line-height: 1.5;
    }

    .wrapper {
        padding-bottom: 15%;
    }

    .page-header, .hero {
        margin: 0;
    }

    .page-header__menu-image {
        display: none;
    }

    .page-header__menu-image-tablet {
        display: block;
        margin: 62px 33px 0px auto;

        cursor: pointer;
    }

    .hero {
        display: flex;
    }

    .hero__food-img {
        width: 25vw;
        height: 35vw;
    }

    .hero__salad {
        left: 55%;
        bottom: 20%;
    }


    .hero__title {
        margin: 0px 0px 0px 30px;

        font-size: 150px;
        line-height: 1.5;
    }

    .hero__sub-title {
        position: relative;
        z-index: 1;

        margin: 0px 0px 30px 30px;


        font-size: 60px;
        line-height: 1.1;
    }


    .hero__dotted-background-wrapper {
        position: absolute;
        left: 53%;
        top: 17%;

        width: 45%;

        background-size: cover;
    }

    .hero__background-wrapper {
        height: 0;
    }

    .hero__dotted-background {
        margin-top: 15px;
    }

    .hero__input-wrapper {
        width: 70%;
        margin-left: 32px;
    }

    .hero__location-icon {
        position: absolute;
        top: 25%;
    }

    /* .hero__carousel-wrapper {
        position: relative;

        width: 30%;
        margin-left: auto;
    } */

    .hero__carousels {
        position: relative;
    
        width: 30%;
        height: auto;
    }
    

    .hero__left-carousel,
    .hero__right-carousel {
        position: absolute;

        width: 66px;

        cursor: pointer;
    }

    .hero__left-carousel {
        right: 40%;
        bottom: 10%;
    }
    
    .hero__right-carousel {
       right: 20%;
       bottom: 10%;
    }

    .top-restaurant-section__text-wrapper,
    .top-restaurant-section__img-wrapper,
    .top-restaurant-section__restaurant-list  {
        display: flex;
    }

    .top-restaurant-section__text-wrapper {
        margin-bottom: 4%;
    }

    .top-restaurant-section__restaurant-list  {
        width: 100%;
    }

    .top-restaurant-section {
        margin: 0;
        padding-bottom: 130px;
    }

    .top-restaurant-section__headline {
        margin: 67px 0px 0px 30px;
        width: 60%;
        height: 130px;

        font-size: 48px;
        line-height: 1.2;
        font-weight: 500;

        border-left: 25px solid #FE043C;
    }

    .top-restaurant-section__paragraph {
        margin: 67px 30px 70px 73px;
        width: 40%;
    }

    .top-restaurant-section__restaurant-list {
        margin-top: 0;
        margin-bottom: 0;
    }

    .top-restaurant-section__list-item:first-child {
        margin: 0px 17px 0px 0px;
    }

    .top-restaurant-section__restaurant-img {
        display: block;
        width: 100%;
        background-size: cover;

        top: 0;
    }

    .fire-water {
        margin: 10px 0px 10px 30px ;
    }

    .top-restaurant-section__see-more-image {
        margin: auto 49px auto 49px;
    }

    .top-restaurant-section__dotes-img {
        top: -15%;

        margin: 0px 0px 0px 15px;
    }

    .top-restaurant-section__dotes-under-burger {
        right: -13%;
        bottom: 3%;
    }

    .top-restaurant-section__horizontal-dotes {
        right: -13%;
        bottom: -13%;
    }

    .booking-form {
        padding-top: 199px;
        padding-bottom: 126px;
    }

    .booking-form-wrapper {
        margin-right: 233px;
        height: 417px;
    }

    .booking-form__lettuce {
        top: -35%;
        
        display: none;
        height: 1045px;
    }

    .booking-form__leaf {
        display: none;
    }

    .booking-form__leaf-for-tablet {
        position: absolute;
        right: 0;
    
        display: block;
    }

    .booking-form__lettuce-for-tablet {
        position: absolute;
        bottom: 0;
        z-index: 1;
    
        display: block;
    }

    .booking-form__lettuce-for-desktop {
        display: none;
    }

    .booking-form__border {
        padding-top: 41px;
        height: 15px;
        width: 230px;
    }

    .booking-form__title {
        margin: 30px 0px 60px 170px;

        font-weight: 500;
        font-size: 36px;
        line-height: 0.6;
    }

    .booking-form__input-wrapper {
        width: 100%;
        height: 90px;
    }

    .booking-form__search-restaurant-input {
        margin: 0px 0px 60px 333px;
        padding-left: 11px;
        width: 100%;
        height: 100%;

        font-size: 16px;
        line-height: 1.5;

        color: #2E266F;
        opacity: 0.6;
    }

    .booking-form__button {
        top: 10%;

        width: 128px;
        height: 62px;
    }

    .booking-form__date {
        margin-right: 70px;
    }

    .booking-form__date:last-child {
        margin-right: 0;
    }

    .booking-form__dotes {
        right: 12%;
        top: 17%;
    }

    .booking-form__vertical-dotes {
        right: 12%;
    }

    .booking-form__horizontal-dotes {
        bottom: 7%;
    }

    .services__title::before {
        width: 25px;
        height: 140px;
    }

    .services__title {
        margin-top: 117px;
        margin-left: 50px;

        font-weight: 500;
        font-size: 48px;
        line-height: 1.2;
    }

    .services__text-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .services__paragraph {
        display: none;
        
    }

    .services__paragraph-for-tablet {
        display: block;
        margin: 117px 76px 100px 114px;
        width: 609px;

        font-size: 14px;
        line-height: 1.7;

        color: #707070;
    }


    .services__title::before {
        left: -40px;
        top: -20%;
    }

    .services__list-wrapper {
        display: flex;
        position: relative;
    }

    .services__list {
        width: 55%;
        margin-bottom: 0;
        margin-left: 32px;
    }

    .services__moto-icon {
        width: 45%;
    }

    .services__list-background {
        position: absolute;

        display: block;
        width: 100%;
        height: 711px;
    }

    .services__moto-icon {
        z-index: 1;
        margin-right: 33px;
        margin-left: 63px;
    }

    .services__hyphenation {
        display: none;
    }

    .food-catalog__title {
        margin: 119px auto 30px auto;

        font-size: 48px;
    }

    .food-catalog__paragraph {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 609px;
    }

    .food-catalog__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 52px;
        margin-right: 52px;
    }

    .food-catalog__list-item {
        margin-right: 30px;
        width: 48%;
    }

    .food-catalog__list-item:nth-child(2n) {
        margin-right: 0;
    }

    .app {
        display: flex;

        padding-top: 01195;
    }

    .app__title {
        margin: 288px 0 30px 40px;
        width: 475px;

        font-size: 48px;
        line-height: 62px;

        border-left: 25px solid #FE043C;
    }

    .app__paragraph {
        margin-left: 86px;
        width: 449px;
    }

    .google-play-btn {
        margin-left: 86px;
    }

   .app__tablet-img {
        display: block;
        width: 100%;
   }

   .app__mobile-img {
       display: none;
   }

    .app__buttons {
        margin-bottom: 418px;
    }

    .footer-section__background {
        width: 50%;
    }

    .footer-section__title {
        font-size: 36px;
        line-height: 48px;
    }

    .footer-section__paragraph {
        margin: 33px auto 30px auto;
        width: 533px;
        justify-content: center;
    }

    .footer-section__input-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 50%;
        height: 90px;
    }

    .footer-section__input {
        height: 100%;
        width: 100%;
    }

    .footer-section__button {
        right: 3%;
        top: 20%;

        width: 56px;
        height: 56px;
    }

    .footer-section__footer-wrapper {
        justify-content: end;
    }

    .footer-section__tablet-image {
        position: absolute;

        display: block;
    }

    .footer-section__desktop-image {
        display: none;
    }
}


@media screen and (min-width: 1920px) {
    .page-header,
    .hero {
        margin: 0px 133px 0px 133px;
    }

    .page-header__logo {
        font-size: 72px;
        line-height: 1.5;
    }

    .hero__title {
        font-size: 200px;
        line-height: 1.5;  
    }

    .hero__sub-title {
        margin-bottom: 40px;

        font-size: 72px;
        line-height: 1.25;
    }

    .hero__location-icon {
        top: 25%;
        left: 10%;
    }


    .hero__left-carousel {
        right: 30%;
        bottom: 20%;
    }
    
    .hero__right-carousel {
       right: 0;
       bottom: 20%;
    }


    .hero__location-input-wrapper {
        left: -17%;

        margin-top: 179px;
    }


    .hero__input-wrapper {
        margin-bottom: 0;
    }

    .page-header__menu {
        display: flex;
        padding-left: 0;
        margin: 67px 0px 0px 200px;

        list-style-type: none;

        color: #2E266F;
    }

    .page-header__menu-item {
        margin-right: 40px;

        cursor: pointer;
    }

    .page-header__menu-item:last-child {
        margin-right: 0;
    }

    .page-header__menu-image-tablet {
        display: none;
    }

    .page-header__user-icon,
    .page-header__user-text {
        cursor: pointer;
    }

    .page-header__user-icon {
        display: block;
        margin: 53px 0px 0px auto;
    }

    .page-header__user-text {
        display: block;
        margin: 73px 0px 0px 5px;
    }



    .wrapper {
        padding-bottom: 10%;
    }

    .top-restaurant-section__headline {
        margin: 49px 0px 0px 135px;
        width: 50%;
    }

    .top-restaurant-section__paragraph {
        width: 50%;
        margin: 49px 336px 122px 149px;
    }

    .top-restaurant-section__list-item:first-child {
        margin-right: 40px;
    }

    .top-restaurant-section__dotes-img {
        top: -8%;
    }

    .top-restaurant-section__dotes-under-burger {
        right: -4%;
        bottom: 6%;
    }

    .top-restaurant-section__horizontal-dotes {
        right: -4%;
        bottom: -3%;
    }

    .booking-form {
        padding-top: 264px;
        padding-bottom: 265px;
    }

    .booking-form__lettuce-for-tablet {
        display: none;
    }

    .booking-form__lettuce-for-desktop {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    
        display: block;
    }

    .booking-form__input-wrapper {
        width: 60%;
        height: 91px;
        margin: 0 auto 60px auto;
    }

    .booking-form__button {
        top: 15%;
        right: 3%;
    }

    .booking-form-wrapper {
        margin-right: 415px;
        height: 560px;
    }

    .booking-form__border {
        padding-top: 100px;
    }

    .booking-form__dotes {
        right: 17%;
    }

    .booking-form__search-restaurant-input {
        width: 100%;
        height: 100%;
    }

    .booking-form__vertical-dotes {
        right: 17%;
    }

    .booking-form__horizontal-dotes {
        bottom: 15%;
        left: 15%;
    }

    .services__title {
        margin-left: 170px;
        margin-top: 167px;
    }

    .services__text-wrapper {
        justify-content: unset;
    }

    .services__paragraph-for-tablet {
        margin: 167px 0px 150px 201px;
    }

    .services__list {
        margin: 0px 100px 0px 135px;
    }

    .services__hyphenation {
        display: block;
    }

    .services__moto-icon {
        margin-right: 135px;
    }

    .food-catalog__paragraph {
        margin-bottom: 60px;
    }

    .food-catalog__list-item {
        flex-basis: calc(100% / 3 - 31px);
    }

    .food-catalog__list-item {
        margin-right: 31px;
    }
    .food-catalog__list-item:nth-child(2n) {
        margin-right: 31px;
    }

    .food-catalog__list-item:nth-child(3n) {
        margin-right: 0;
    }

    .food-catalog__list {
        margin: 0 135px 0 135px;
        padding-bottom: 149px;
    }

    .app__title {
        margin-top: 395px;
        margin-left: 130px;
    }

    .app__img-wrapper {
        width: 20%;
        margin-top: 50px;
        margin-left: 270px;
    }

    .app__paragraph {
        margin-left: 182px;
    }

    .google-play-btn {
        margin-left: 182px;
    }

    .footer-section__desktop-image {
        position: absolute;
        top: 0;

        display: block;
    }

    .footer-section__image {
        display: none;
    }

    .footer-section {
        padding-top: 272px;

    }
}
